@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Teko:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.first_container {
  background-color: #1a1a1a;
  height: 1000px;
  max-width: 100%;
}

.logo,
.exp,
.header-nav,
.contact,
.pointer,
.choose,
.why,
.skillset,
.selected,
.brand,
.creative,
.discovery,
.ideas,
.proseso,
.contacttwo,
.contactsthree {
  margin: 0 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  font-family: "Alex Brush", cursive;
  font-size: 3rem;
  font-weight: 450;
  color: #fff;
}

.header-nav ul li {
  display: inline-flex;
  font-size: 1.8rem;
  margin: 0px 5px;
}

.header-nav ul li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.header-nav ul li a:hover {
  color: #82ff1f;
  transition: 0.8s;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

.giannimain,
.fababeir {
  text-align: center;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  color: #fff;
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 100;
}

.giannimain {
  letter-spacing: -5px;
}

.ggg {
  color: #82ff1f;
  font-size: 220px;
}

.fababeir {
  margin-top: -120px;
  letter-spacing: -10px;
}

main p {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  text-align: justify;
}

.exp::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  background-color: #82ff1f;
  position: absolute;
  margin-top: -10px;
}

.mainword {
  text-align: center;
  color: #fff;
  font-family: "Figtree", sans-serif;
  border: solid 1px #fff;
  width: 200px;
  margin: 0 auto;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 50px;
  font-weight: 200;
  padding: 5px;
}

.circle {
  font-size: 12px;
}

.contact {
  margin-top: 35px;
  padding: 8px 25px;
  font-family: "Figtree", sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: #000;
  border: none;
  background-color: #82ff1f;
  border-radius: 10px;
  cursor: pointer;
}

.contact:hover {
  background-color: #61ce70;
}

.pointer img {
  width: 35px;
  margin-top: 30px;
}

.second_container {
  width: 1400px;
  margin: 0 auto;
}

.secondcontbg {
  background: #f8f8f8;
  height: 600px;
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.projects h2 {
  font-family: "Figtree", sans-serif;
}

.choose {
  font-weight: 200;
  color: #000;
  font-family: "Figtree", sans-serif;
  border: solid 1px #000;
  width: 180px;
  text-align: center;
  font-size: 13px;
  border-radius: 10px;
  font-weight: 200;
  padding: 8px 5px;
  text-transform: uppercase;
}

.why {
  font-family: "Teko", sans-serif;
  font-size: 80px;
  font-weight: 450;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  max-width: 386.67px;
  height: 257.63px;
  place-content: center;
  flex-grow: 1;
  padding: 20px;
  margin: 40px 20px;
  font-family: "Figtree", sans-serif;
  box-shadow: 0px 12px 42px 0px
    rgba(46.99999999999997, 46.99999999999997, 46.99999999999997, 0.04);
}

.skillset {
  display: flex;
}

.card h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.card p {
  width: 306px;
  line-height: 23px;
}

.card.card1 {
  margin-left: 2px;
}

.tailor::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  background-color: #82ff1f;
  position: absolute;
  margin-top: -10px;
}

.thirdcontbg {
  background-color: #111111;
  height: 500px;
  max-width: 100%;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

.thirdcont {
  width: 1400px;
  margin: 0 auto;
}

.selected {
  text-align: center;
  color: #fff;
  font-family: "Figtree", sans-serif;
  border: solid 1px #fff;
  width: 220px;
  font-size: 13px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 200;
  padding: 8px 5px;
}

.brand {
  margin-top: 20px;
  font-family: "Teko", sans-serif;
  font-size: 100px;
  font-weight: 150;
  width: 750px;
  line-height: 1em;
  overflow-y: hidden;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.projectlaman {
  background-color: #111111;
  height: 1500px;
  display: flex;
  align-items: center;
}

.projectss {
  width: 1400px;
  margin: 0 auto;
}

.project {
  width: 1400px;
  margin: 0 auto;
}

.projectcontainer {
  max-width: 1400px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin: 0 15px;
}

.boxuno {
  width: 500px;
  height: 460px;
  overflow: hidden;
  margin: 5px 5px;
}

.boxuno p {
  border: solid 1px #000;
  text-align: center;
  padding: 30px;
  color: #fff;
  background-color: #000;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Figtree", sans-serif;
}

.contacttwo {
  padding: 8px 25px;
  font-family: "Figtree", sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: #000;
  border: none;
  background-color: #82ff1f;
  border-radius: 10px;
  cursor: pointer;
}
.contactsthree {
  padding: 8px 25px;
  font-family: "Figtree", sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: #000;
  border: none;
  background-color: #82ff1f;
  border-radius: 10px;
  cursor: pointer;
}

.projectcontainer .box {
  width: 500px;
  height: 350px;
  background-position: top;
  transition: ease-in-out 2s;
  background-color: #000;
  border: solid 1px #000;
  cursor: pointer;
}

.projectcontainer .box.box1 {
  background: url(./screencapture-imhotel-2025-04-03-09_43_34.png);
  background-size: cover;
}

.projectcontainer .box.box2 {
  background: url(./screencapture-lebongoutseasoning-2025-04-03-10_00_29.png);
  background-size: cover;
}

.projectcontainer .box.box3 {
  background: url(./screencapture-marykay-ph-mkpweb08-skinanalyzer-2022-11-29-19_57_13.png);
  background-size: cover;
}

.projectcontainer .box.box4 {
  background: url(./screencapture-justspices-co-uk-2025-04-03-10_20_17.png);
  background-size: cover;
}

.projectcontainer .box.box5 {
  background: url(./screencapture-rootscollective-ph-2025-04-03-10_12_42.png);
  background-size: cover;
}

.projectcontainer .box.box6 {
  background: url(./screencapture-thorndikedesigncenter-wp-login-php-2025-04-03-10_21_51.png);
  background-size: cover;
}

.projectcontainer .box:hover {
  background-position: bottom;
}

.arrow {
  color: #82ff1f;
}

.projectcontainer a {
  text-decoration: none;
}

.fourthcontent {
  width: 1400px;
  margin: 0 auto;
  display: flex;

  justify-content: space-around;
}

.fourth-laman,
.discovery {
  width: 500px;
}

.fourthbg {
  height: 1000px;
  background-color: #f8f8f8;
  align-items: center;
  display: flex;
}

.creative {
  margin-top: 20px;
  font-family: "Teko", sans-serif;
  font-size: 110px;
  font-weight: 150;
  line-height: 1em;
  overflow-y: hidden;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 40px;
  width: 400px;
  line-height: 0.8em;
}

.proseso {
  font-weight: 200;
  color: #000;
  font-family: "Figtree", sans-serif;
  border: solid 1px #000;
  width: 130px;
  text-align: center;
  font-size: 13px;
  border-radius: 10px;
  font-weight: 200;
  padding: 5px 3px;
  text-transform: uppercase;
}

.discovery h2 {
  font-family: "Figtree", sans-serif;
  margin: 15px 0;
}

.discovery h2 {
  font-weight: 530;
}

.disc {
  font-family: "Figtree", sans-serif;
  line-height: 25px;
}

.disc::after {
  content: "";
  display: block;
  border-bottom: 1px solid #000;
  margin: 20px 0;
}

.fifthbg {
  background-color: #1a1a1a;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fifthcont {
  width: 1200px;
  margin: 0 auto;
  background-color: #111111;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.have {
  font-weight: 200;
  color: #fff;
  font-family: "Figtree", sans-serif;
  border: solid 1px #4f4f4f;
  width: 200px;
  text-align: center;
  font-size: 13px;
  border-radius: 20px;
  margin: 0 auto;
  font-weight: 200;
  padding: 10px 5px;
  text-transform: uppercase;
}

.ideas {
  margin-top: 20px;
  font-family: "Teko", sans-serif;
  font-size: 100px;
  font-weight: 150;
  line-height: 0.8em;
  overflow-y: hidden;
  width: 600px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.email {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: "Figtree", sans-serif;
  font-size: 25px;
}

.email::after {
  content: "";
  display: block;
  width: inherit;
  border-bottom: 1px solid #4f4f4f;
  margin: 5px 0;
}

footer {
  background-color: #1a1a1a;
  text-align: center;
  font-family: "Figtree", sans-serif;
  color: #fff;
}

.footnav {
  margin-top: 15px;
  text-align: center;
}

.footnav ul li {
  display: inline-flex;
  font-size: 1.8rem;
  margin: 0px 5px;
}

.footnav ul li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.footnav ul li a:hover {
  color: #82ff1f;
  transition: 0.8s;
}

.giannifoot {
  margin-bottom: 15px;
}

@media screen and (max-width: 1320px) {
  .projectcontainer .box {
    width: 400px;
    height: 300px;
  }

  .boxuno p {
    width: 400px;
  }
}

@media screen and (max-width: 1230px) {
  .projectcontainer .box {
    width: 350px;
    height: 280px;
  }

  .boxuno p {
    width: 350px;
  }

  .boxuno {
    height: initial;
    margin: 10px 0;
  }
  .contacttwo{
    margin-top: 20px;
  }
  .projectlaman{
    height: 1200px;
}

@media screen and (max-width: 1120px) {
  .card p {
    width: 240px;
    font-size: 14px;
  }

  .card h3 {
    font-size: 20px;
  }

  .projectcontainer .box {
    width: 350px;
    height: 200px;
  }

  .boxuno p {
    width: 350px;
  }

  .boxuno {
    height: initial;
    margin: 10px 0px;
  }

  .projectlaman {
    height: 1200px;
  }
}

@media screen and (max-width: 1120px) {
  .projectcontainer .box {
    width: 320px;
    height: 200px;
  }

  .boxuno p {
    width: 320px;
  }
}

@media screen and (max-width: 1005px) {
  .projectcontainer .box {
    width: 300px;
    height: 200px;
  }

  .boxuno p {
    width: 300px;
  }

  .brand {
    font-size: 80px;
  }

  .projectlaman {
    height: 1050px;
  }

  .giannimain,
  .fababeir,
  .ggg {
    font-size: 150px;
  }

  .fababeir {
    margin-top: -90px;
  }

  .first_container {
    height: 800px;
  }

  main p {
    margin: 0 20px;
  }
}

@media screen and (max-width: 1005px) {
  .card {
    margin: 20px 10px;
  }

  .secondcontbg {
    padding-top: initial;
  }

  .pointer img {
    display: none;
  }

  .exp,
  .contact {
    margin: 10px 25px;
  }

  .choose,
  .why,
  .selected,
  .brand {
    margin: 0 25px;
  }
}

@media screen and (max-width: 945px) {
  .projectcontainer .box {
    width: 270px;
    height: 200px;
  }

  .boxuno p {
    width: 270px;
  }

  .brand,
  .why {
    font-size: 70px;
  }
}

@media screen and (max-width: 890px) {
  .card p {
    width: 220px;
  }

  .card h3 {
    font-size: 17px;
  }
}

@media screen and (max-width: 850px) {
  .projectcontainer .box {
    width: 250px;
    height: 200px;
  }

  .boxuno p {
    width: 250px;
  }

  .card p {
    width: 200px;
  }

  .creative {
    font-size: 90px;
  }
}

@media screen and (max-width: 790px) {
  .projectcontainer .box {
    width: 220px;
    height: 150px;
  }

  .boxuno p {
    width: 220px;
    font-size: 14px;
  }

  .projectlaman {
    height: 850px;
  }

  .why {
    font-size: 60px;
  }

  .exp {
    font-size: 14px;
    line-height: 25px;
  }

  .fifthbg {
    height: 500px;
  }

  .fifthcont {
    height: 400px;
    width: 700px;
  }

  .ideas {
    font-size: 70px;
  }

  .email {
    font-size: 20px;
  }
  .ideas {
    text-align: center;
  }
  .contact{
    margin-top: 20px;
  }
}

@media screen and (max-width: 726px) {
  .projectlaman {
    min-height: 2700px;
  }

  .projectcontainer {
    flex-direction: column;
    align-items: center;
  }

  .projectcontainer .box {
    width: inherit;
    height: 300px;
  }

  .boxuno p {
    width: inherit;
  }

  .skillset {
    flex-direction: column;
  }
  .secondcontbg {
    height: 920px;
    align-items: center;
    justify-content: center;
  }
  .card p {
    width: auto;
  }
  .card {
    max-width: none;
    height: 200px;
  }
  .why {
    font-size: 50px;
  }
  .creative {
    font-size: 75px;
  }
  .contacttwo {
    margin-top: 15px;
  }
  .fifthcont {
    width: 600px;
  }
  .ideas {
    width: auto;
  }
  .brand {
    width: auto;
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
  }
  .selected {
    margin: 20px auto;
  }
  .contacttwo {
    margin: 0 auto;
    display: block;

    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 615px) {
  .fifthcont {
    width: 500px;
  }
}

@media screen and (max-width: 575px) {
  .fourthcontent {
    display: initial;
    width: auto;
  }
  .creative,
  .discovery {
    width: auto;
  }
  .contactsthree {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 525px) {
  .first_container {
    height: 900px;
  }
  .fourth-laman{
    width: auto;
  }
}

@media screen and (max-width: 525px) {
    .first_container {
      height: 900px;
    }
    .fourth-laman{
      width: auto;
    }
    .creative{
        font-size: 45px;
    }
    .why{
        font-size: 45px;
    }
    .choose{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .brand{
        font-size: 45px;
    }
    .ideas{
        font-size: 45px;
    }
    .contact{
        margin-top: 20px;
      
    }
    .contacttwo{
        margin-top: 15px;
    }
   .contactsthree{
      display: none;
    }

  }
  @media screen and (max-width: 395px) {

    .giannimain, .ggg, .fababeir{
        font-size:125px ;
    }
    .ideas, .brand, .why{
        font-size: 35px;
    }
    .why, .proseso{
        margin-top: 15px;
    }
    .choose{
        margin-bottom: 15px;
    }
    .fourthbg{
        height: 1100px;
    }
    .fababeir{
        margin-top: -80px;
    }
    .logo{
        font-size: 2.5rem;
    }
    .header-nav ul li{
        font-size: 25px;
        margin: 0 4px;
    }
    .fifthcont{
        width: 360px;
    }
    .card p{
        font-size: 15px;
    }
    
  }
  
